<header class="navbar-container">
  <div class="logo">
    <h1>Rafaela Cafés</h1>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="./home.html">Inicio</a></li>
      <li><a href="./reseñas.html">Reseñas</a></li>
      <li><a href="./galeria.html">Galería</a></li>
      <li><a href="./contacto.html">Contacto</a></li>
      <li><a href="../form.html">Formulario</a></li>
    </ul>
    <button id="cerrar" class="cerrar-menu">✖</button>
  </nav>
  <button id="abrir" class="menu">☰</button>
</header>
